body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin: 10px auto;
  columns: 6;
  column-gap: 10px;
}

.container > img{
  width: 100%;
  break-inside: a;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 40vw;
  height: 40vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.controls > .close{
  position: fixed;
  top:0;
  right: 0;
}

.controls > .next{
  position: fixed;
  top:50%;
  right: 0;
}

.controls > .previous{
  position: fixed;
  top:50%;
  left: 0;
}

.controls > button{
  background-color: black;
  opacity: .6;
  color:gray;
  padding: 5px;
  border-radius: 25px;
}

.modal-main > img{
  width: 100%;
  height: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
